@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,700;1,800&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,800;1,100;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  flex: 1;
  overflow: auto;
  min-width: 100%;
}

.header {
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  min-width: 10rem;
  flex-shrink: 1;
}

.logo {
  text-decoration: none;
  color: #f9faf8;
  font-size: 24px;
  margin: 1rem;
}

.logo:hover,
.logo:active {
  color: red;
}

.main-nav {
  min-width: 32rem;
  flex-shrink: 2;
}

.main-nav__items {
  font-size: 18px;
  display: flex;
  gap: 1rem;
  margin: 1rem;
  list-style: none;
}

.main-nav__item a {
  color: #e5e7eb;
  text-decoration: none;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: red;
}

.hero {
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  min-height: 17rem;
}

.hero-text {
  min-width: 19rem;
  max-width: 33rem;
  flex-shrink: 2;
  margin: 1rem;
}

.hero-text__title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.hero-text__description {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.button a {
  text-decoration: none;
  color: #e5e7eb;
}

.button {
  background: #3882f6;
  padding: 6px 30px;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button#cta-button {
  border: 1px solid #f9faf8;
}

.hero-image__container {
  min-width: 32rem;
  flex-shrink: 1;
}

.hero-image {
  aspect-ratio: 16/9;
  max-width: 500px;
  max-height: 250px;
  margin: 0 1rem;
  border: 3px solid #e5e7eb;
  border-radius: 5%;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  min-height: 17rem;
  margin: 2rem;
}

.information-header__title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin: 1rem;
  margin-bottom: 3rem;
}

.information-list__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.information-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18rem;
}

.information-list__item p {
  text-align: center;
}

.information-list__item-image {
  max-width: 200px;
  max-height: 200px;
  border: 2px solid #3882f6;
  border-radius: 10%;
}

.testimonial {
  background: #e5e7eb;
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-shrink: 1; */
  /* align-items: center; */
  min-height: 17rem;
}

.testimonial-quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-quote__item {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  max-width: 60rem;
  margin: 8rem 8rem 1rem 8rem;
}

.testimonial-quote__ref {
  text-align: right;
  margin: 0.5rem 8rem 5rem 8rem;
}

.cta {
  min-height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container {
  background: #3882f6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 2rem;
  border-radius: 8px;
}

.cta-banner {
  padding: 1.5rem 3rem 1.5rem 3rem;
}

.cta-button {
  padding: 1.5rem 3rem 1.5rem 3rem;
}


.main-footer {
  background: #1f2937;
}